Package: me.trsvsr.sopio
Name: Sopio
Depends: mobilesubstrate, firmware (>=10.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Hides notifications on the lock screen when Do Not Disturb is enabled.
Maintainer: Trevor Schmitt
Author: Trevor Schmitt
Section: Tweaks
